<div class="conatiner mt-5">
  <h2>Angular Web capture Image</h2>

  <div class="col-md-12">
    <webcam
      [trigger]="invokeobserverable"
      (imageCapture)="captureImg($event)"
    ></webcam>
  </div>

  <div class="col-md-12">
    <button class="btn btn-danger" (click)="getSnapshot()">
      Capture Image
    </button>
  </div>

  <div class="col-12">
    <div id="results">This is where your taken image shows up.</div>
    <img [src]="webCamImage?.imageAsDataUrl"  height="400px" />
  </div>
</div>
